<div style="margin:15px;padding:15px;">

<h1>Enter API Key</h1>



<% form_tag('pages/tasks/', :method => "get") do %>

  <p>
    <%= text_field_tag 'token' %>
  </p>
  <p>
    <%= submit_tag 'Get Tasks' %>
  </p>


<% end %>


</div>
